* {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 100%;
  max-height: 2000px;

}

img {

  border: 0.3rem #ff6666 solid;
  margin-bottom: 1rem;
  filter: drop-shadow(1px 1px 1px black);
}

#fruits-basket-img {
  width: 50%;
}

.fruit-img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  margin-top: 0.3rem;


}

.dessert-img {
  width: 180px;
  height: 130px;
  object-fit: cover;
  border: solid #ffbf00 5px;
  margin-bottom: 0;
}

.icon {
  width: 50px;

}

button {
  /* background-color: #FF5050; */
  background-color: rgb(245, 124, 99, 0.7);
  padding: 15px;
  margin: 5px;
  border: rgb(255, 55, 55) 3px solid;
  font-weight: 700;
  border-radius: 20%;
  color: #ffff66;


}

button:hover {
  background-color: rgb(245, 124, 99);
}

#changeColors-button {
  color: #fffae6;
  background-color: #c18ff0;
  border-color: rgb(205, 88, 159)
}

#changeColors-button:hover {
  background-color: #b478ed;
}

.dessert-button {
  background-color: #99ff99;
  color: #0000ff;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2rem;

}

.dessert-button:hover {
  background-color: #80ff80;
}

.hover-button {
  color: yellow;
  background-color: #f98b8b;
}

.hover-button:hover {
  background-color: #ff8484;
}

.recipe-button {
  color: #2A1F00;
  background-color: #ffffcc;
  border-color: #ffbf00;
  border-radius: 0;
  padding: 0.1rem;
  font-size: 0.7rem;
  font-weight: 400;
}

.recipe-button:hover {
  background-color: #ffd966;
  font-weight: 600;
}

h1 {
  margin-top: 1.5rem;
  color: #ff3737;
  /* font-size: 3vw; */
}

h2 {
  color: #ffbf00;
  margin-bottom: 1rem;

}


h3 {
  color: #99ff99;
  margin-bottom: 2rem;
}

h4 {
  color: #ffbf00;
  margin-top: 0;
}



figcaption {
  /* font-family: 'Caveat', cursive; */
  font-family: 'Bubblegum Sans', cursive;
  font-family: 'Lobster Two', cursive;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffbf00;
  margin-top: 0.5rem;
}

.recipe-prep,
p,
li,
strong {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1.5rem;
  /* color: #ffffcc; */
  color: #ffffcc;
}

.recipe-prep>p {
  text-align: justify;
  margin-right: 3rem;
}


#flex-container {
  display: flex;
  height: 100%;
}

.child {
  flex: 1;
  /* Allow child elements to grow and fill available space */
}




#flex-child-2 {
  max-width: 35%;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  /* margin-left: -8rem; */
  border: solid #ff6666 0.5rem;
  border-radius: 5%;
  /* display:none; */
}

#unselected-flex-child-2 {

  max-width: 35%;
  height: 20rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  border: solid #ff6666 0.5rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

#ASCII {
  color: white;
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
}

/* MOBILE */
@media only screen and (max-width:700px) {

  #flex-container {
    flex-direction: column;
    align-items: center;

  }

  #flex-child-2 {
    max-width: 93%;
    margin-right: 0;
    margin-top: 0;
  }

  #unselected-flex-child-2 {
    max-width: 93%;
    margin-right: 0;
    margin-top: 0;
  }

  #ASCII {

    font-size: 3.5rem;

  }

  #fruits-basket-img {
    width: 85%;
    height: 100px;
    object-fit: cover;
  }

  .fruit-img {
    width: 150px;
    height: 150px;
    margin-top: 0.3rem;
  }

  .dessert-img {
    width: 230px;
    height: 150px;
    object-fit: cover;
    border: solid yellow 5px;
  }

  .hover-button {
    display: none;
  }

  button {
    padding: 5px;
    border-radius: 0;
    /* font-size: 2vw; */
  }

  h2 {
    /* font-size: 2.5vw; */
  }
}

/* TABLET */

@media only screen and (max-width:1024px) and (min-width: 700px) {}

/*DESKTOP*/
@media screen and (min-width: 1024px) {}